* {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

/* Override or add to some bootstrap styles */
/* Center the form */
.wrapper {
    display: flex;
    justify-content: center;
}

/* Add extra margin to the btn*/
.btn {
    margin: 5px;
}

/* increase the font on the count */
.lead {
    font-size: 30px;
}

.wrong_ans {
    background-color: red;
    color: white;
    padding: 10px;
}

.winner {
    background-color: green;
    color: white;
    padding: 10px;
}

.user_guess {
    text-align: center;
}
